!!! XML
!!!
%html
  %head
    %title= @page_title || 'Ruby Harvester'
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
    
  %body
    .container
      %h1 Ruby Harvester
      %p{:class=>'slogan'} The RubyOnRails Harvester
      = yield
